html {
    font-size: 14px;
}

body {
    margin:0;
    padding:0;
    background-color: #F8F9FA;
}

.table-responsive {
    position: absolute;
    left: 20px;
    right: 1%;
    top: 1%;
}

td.filter {
    white-space: nowrap;
}

div.filter-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.filter-inline {
    width: 100%;
    flex: 1;
    margin: 1px;
}
